

\begin{tabular}{lrl}
[[% for part in participants | sort(attribute='name') | unique('name') %]]
%	[[ loop.index ]] &
  [[ part.name ]]
  &
  \href{mailto:[[ part.email ]]}{[[ part.email ]]}
  &
  [[ affs_short | filter_bykey(part.affiliation) | join(', ') ]]
  \\
\hline
[[% endfor %]]
\end{tabular}
