

[[% for kt, talk in posters.items() %]]

\newpage

[[% set affsmap = {} %]]
\section*{[[ talk.Title ]]}
\begin{center}
  [[% for a in talk.Authors %]]
  [[ a.name ]] $^{[[ affsmap | aff_filter(a.affiliation) | join(',') ]]}$\\
  [[% endfor %]]
  \medskip%
  [[% for aff, ind in affsmap|dictsort(by='value') %]]
  $^{[[ ind ]]}$ [[ affs[aff] ]]\\
  [[% endfor %]]
\end{center}

[[ talk.Abstract ]]

[[% endfor %]]
