

[[% for kt, talk in posters.items() %]]

\newpage

\section*{[[ talk.Title ]]}
\begin{center}
  [[% for a in talk.Authors %]]
  [[ a.name ]]\\
  [[% if a.affiliation %]] \textit{[[ a.affiliation ]]}
  [[% if a.country %]], [[ a.country ]][[% endif %]]\\ [[% endif %]]
  [[% endfor %]]
\end{center}

[[ talk.Abstract ]]

[[% endfor %]]
