+++
date = "2016-05-05T21:48:51-07:00"
title = "New Program"
+++

# Program

{% set schedule = [0] %}
{% for event in order %}
  {% set ll = schedule | update_time(event, lenght) %}
{{ ll }}
  {% if event.title %}
:   **{{ event.title }}**
  {% elif event.abs %}
    {% set talk = talks[event.abs] %}
:   **{{ talk.Title }}**
    {% if talk.Submission == 0 %}
:   [{{ talk.Authors[0].name }}]({{ talk.Authors[0].url }})
    {% else %}
:   {{ talk.Authors | join(', ', attribute='name') }}
    {% endif %}
  {% endif %}

{% endfor %}


# Organising Committee

- [Sophie Béreau](http://perso.uclouvain.be/sophie.bereau/presentation.html)
- [Jean-Charles Delvenne](http://perso.uclouvain.be/jean-charles.delvenne/)
- [Mauro Faccin](http://maurofaccin.bitbucket.org/)
- [Yerali Gandica](https://sites.google.com/site/ygandica/)
- [Leonardo Gutierrez](http://www.uclouvain.be/leonardo.gutierrez)
- [Leto Peel](https://piratepeel.github.io/)
- [Michael Schaub](http://michaelschaub.github.io/)
