+++
date = "2016-05-05T21:48:51-07:00"
title = "New Program"
+++

{% set affiliations = {} %}
{% for aff in affs %} {{ affiliations | update_dict(aff, 0) }} {% endfor %}

# Program

{% set schedule = [0] %}
{% for event in order %}
  {% set ll = schedule | update_time(event, lenght) %}
{{ ll }}
  {% if event.title %}
:   **{{ event.title }}**
  {% elif event.abs %}
    {% set talk = talks[event.abs] %}
:   [{{ talk.Title }}](../abs/{{ event.abs }})
    {% if talk.Submission == 0 %}
:   **[{{ talk.Authors[0].name }}]({{ talk.Authors[0].url }})**
:   *Invited Speaker*
    {% else %}
:   {{ talk.Authors | join(', ', attribute='name') }}
    {% endif %}
    {{ affiliations|update_dict(talk.Authors[0].affiliation) }}
  {% endif %}

{% endfor %}


# Poster contributions

{% for ip, poster in posters.items() %}
  
[{{ poster.Title }}](../abs/{{ ip }})
:   {{ poster.Authors | join(', ', attribute='name') }}
    {{ affiliations|update_dict(poster.Authors[0].affiliation) }}

{% endfor %}

# Representation

{% for ia, aff in affiliations|dictsort(by='value')|reverse if aff > 0 %}
  {{ aff }} {{ affs[ia] }}
{% endfor %}



# Organising Committee

[Sophie Béreau](http://perso.uclouvain.be/sophie.bereau/presentation.html)
:   CORE
:   ICTEAM

[Jean-Charles Delvenne](http://perso.uclouvain.be/jean-charles.delvenne/)
:   CORE
:   ICTEAM

[Mauro Faccin](http://maurofaccin.bitbucket.org/)
:   ICTEAM

[Yerali Gandica](https://sites.google.com/site/ygandica/)
:   CORE

[Leonardo Gutierrez](http://www.uclouvain.be/leonardo.gutierrez)
:   ICTEAM

[Leto Peel](https://piratepeel.github.io/)
:   ICTEAM

[Michael Schaub](http://michaelschaub.github.io/)
:   MIT
